@use '../../../styles/variables' as v;

.loading {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 13px;
}
