html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5714;
  color: rgba(0, 0, 0, 0.88);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  margin: 0px;
}

.ant-input-disabled {
  background-color: #f8f8f8;
  color: black;
  cursor: text;
}

.ant-select-selector {
  background-color: #f8f8f8;
  color: black;
  cursor: pointer;
}

.ant-select-disabled .ant-select-selector {
  background-color: #f8f8f8;
  color: rgb(155, 155, 155);
  cursor: not-allowed;
}

.ant-btn-variant-solid:disabled,
.ant-btn-variant-solid.ant-btn-disabled {
  color: #fff;
}

.ant-input-search-button {
  visibility: hidden;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.user-mention {
  cursor: pointer;
  color: #1890ff;
}

.ant-tabs-content {
  height: 100%;
}

.wx-willow-theme {
  height: 100%;
}

.ant-collapse-header,
.ant-collapse-content-box {
  padding: 0;
}
