@use '../../styles/variables' as v;

:global(.ant-tag).competenceTag {
  font-weight: 600;
  background-color: rgba(22, 119, 255, 0.12);
  color: v.$primary-color;
  border-color: v.$primary-color;
}
