.stageNumberTag {
  min-width: 30px;
  text-align: center;
}

.iconMargin {
  margin-right: 4px;
}

.datesContainer {
  font-size: 14px;
}

.budgetContainer {
  font-size: 14px;
}

.budgetDeviation {
  color: #ff4d4f;
}

.budgetDeviationPositive {
  color: #52c41a;
}

.budgetDeviationNeutral {
  color: #1890ff;
}

.progressContainer {
  margin-bottom: 4px;
}

.statusTag {
  font-size: 14px;
}

.statusTagCentered {
  min-width: 90px;
  text-align: center;
}
