.container {
  width: 100%;
}

.descriptions {
  :global(.ant-descriptions-item-label) {
    max-width: 250px;
    width: 250px;
    font-weight: 600;
  }
}

.ridLink {
  color: var(--ant-color-link, #1677ff);
  text-decoration: none;

  &:hover {
    color: var(--ant-color-link-hover, #4096ff);
  }
}
